/02-CylinderCircle-Herentzia/nbproject/private/
/UD-3/02-CylinderCircle-Herentzia/nbproject/private/
/UD-3/01-MyPointEtab/build/
/UD-3/01-MyPointEtab/nbproject/private/
/UD-3/02-CylinderCircle-Herentzia/build/
/03-Futbola-Herentzia/nbproject/private/
/03-Futbola-Herentzia/build/
/04-Monstruoak/nbproject/private/
/04-Monstruoak/build/
/05-Erosketak/nbproject/private/
/05-Erosketak/build/
/2022-02-24Hasierakoa/build/
/UD4-DatuenPersistentzia/HiztegiaSQLite/nbproject/private/
/UD4-DatuenPersistentzia/HiztegiaSQLite/build/
/HiztegiaSQLiteMVCPOJO/nbproject/private/
/HiztegiaSQLiteMVCPOJO/build/
